<!--
  Generated template for the NewCompanyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Company Registeration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="companyForm" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label stacked>Company Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <div class="alert" *ngIf="companyForm.controls['name'].touched && companyForm.controls['name'].value.length == 0">Field is Required</div>
      <div class="alert" *ngIf="!companyForm.controls['name'].valid && companyForm.controls['name'].touched && companyForm.controls['name'].value.length != 0">Invalid Input</div>
    </ion-item>
    <ion-item>
      <ion-label stacked>Job Designation</ion-label>
      <ion-input formControlName="jobDesignation"></ion-input>
    </ion-item>
    <ion-item>
      <div class="alert" *ngIf="companyForm.controls['jobDesignation'].touched && companyForm.controls['jobDesignation'].value.length == 0">Field is Required</div>
      <div class="alert" *ngIf="!companyForm.controls['jobDesignation'].valid && companyForm.controls['jobDesignation'].touched && companyForm.controls['jobDesignation'].value.length != 0">Invalid Input</div>
    </ion-item>
    <ion-item>
      <ion-label stacked>Cutoff</ion-label>
      <ion-input type="number" formControlName="cutoff" step=".1"></ion-input>
    </ion-item>
    <ion-item>
      <div class="alert" *ngIf="companyForm.controls['cutoff'].touched && companyForm.controls['cutoff'].value.length == 0">Field is Required</div>
      <div class="alert" *ngIf="!companyForm.controls['cutoff'].valid && companyForm.controls['cutoff'].touched && companyForm.controls['cutoff'].value.length != 0">Invalid Input</div>
  </ion-item>
    <ion-item>
      <ion-label stacked>Company Contact</ion-label>
      <ion-input formControlName="contact"></ion-input>
    </ion-item>
    <ion-item>
      <div class="alert" *ngIf="companyForm.controls['contact'].touched && companyForm.controls['contact'].value.length == 0">Field is Required</div>
      <div class="alert" *ngIf="!companyForm.controls['contact'].valid && companyForm.controls['contact'].touched && companyForm.controls['contact'].value.length != 0">Invalid Input</div>
    </ion-item>
    <ion-item>
      <ion-label stacked>Permanent Address</ion-label>
      <ion-textarea formControlName="permanentAddress"></ion-textarea>
    </ion-item>
    <ion-item>
      <div class="alert" *ngIf="companyForm.controls['permanentAddress'].touched && companyForm.controls['permanentAddress'].value.length == 0">Field is Required</div>
      <div class="alert" *ngIf="!companyForm.controls['permanentAddress'].valid && companyForm.controls['permanentAddress'].touched && companyForm.controls['permanentAddress'].value.length != 0">Invalid Input</div>
    </ion-item>
    <ion-item>
      <ion-label stacked>E-mail</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <div class="alert" *ngIf="companyForm.controls['email'].touched && companyForm.controls['email'].value.length == 0">Field is Required</div>
      <div class="alert" *ngIf="!companyForm.controls['email'].valid && companyForm.controls['email'].touched && companyForm.controls['email'].value.length != 0">Invalid Input</div>
    </ion-item>
    <button ion-button type="submit" [disabled]="!companyForm.valid">Submit</button>
  </form>
</ion-content>
