page-edit-student {
    form{

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    ion-input,ion-select,ion-textarea{
        border: 1px solid;
        padding: 4px;
    }
    .alert {
        background: #fab1a0;
        padding: 7px;
        font-size: .9em;
        display: inline-block;
        color: #c0392b;
        // animation: 2s alertAnim forwards;
    }
}
